* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-image: linear-gradient(rgb(0, 10, 29), rgb(33, 76, 132));
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}


